.my-meetings{
    .btn-submit{
        margin-top: 5px;
    }
    .date-arrow{
        top: 7px;
        font-size: large;
        cursor: pointer;
    }

    .date-left-arrow{
        float: right;
    }

    .date-right-arrow{
        float: left;
    }
}