<div class="my-meetings">
    <div class="panel">
        <div ng-repeat="(date, meetingGroup) in vm.meetings">
            <div ng-if="date != vm.currentDate">
                <h5>Новые запросы на <span ng-bind="vm.moment(date, vm.dateUrlFormat) | amDateFormat: 'll'"></span></h5>
                <div ng-repeat="meeting in meetingGroup">
                    <manage-meeting-form meeting="meeting"></manage-meeting-form>
                </div>
            </div>
        </div>
        <hr ng-if="vm.pendingRequestsExist">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="date" class="col-xs-4 control-label">Записи на дату:</label>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-menu-left date-arrow date-left-arrow" ng-click="vm.prevDay()"></i>
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="date" ng-model="vm.date" is-open="vm.datePopupOpen" uib-datepicker-popup ng-click="vm.datePopupOpen = true;"
                        popup-placement="bottom" show-button-bar="false" ng-change="vm.dateChanged()">
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-menu-right date-arrow date-right-arrow" ng-click="vm.nextDay()"></i>
                </div>
            </div>
        </div>
        <div class="meetings">
            <div ng-repeat="meeting in vm.meetings[vm.currentDate]">
                <manage-meeting-form meeting="meeting"></manage-meeting-form>
            </div>
            <h5 ng-if="!vm.meetings[vm.currentDate].length">Записи на <span ng-bind="vm.date | amDateFormat: 'll'"></span> отсутствуют</h5>
        </div>
        <hr>
        <h4>Создать запись вручную:</h4>
        <create-meeting-form organization-id="vm.organization._id" service-name="vm.serviceName" date="vm.date" on-submit="vm.createMeeting(meeting)"
            custom-placeholder-message="Запись создана вручную">
            <custom-controls>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="" class="form-control" ng-model="vm.serviceName" placeholder="Введите название услуги" required>
                    </div>
                </div>
            </custom-controls>
            <submit-button>
                <button class="btn btn-default transparent pull-right" type="submit">Создать запись</button>
                <div class="clearfix"></div>
            </submit-button>
        </create-meeting-form>
    </div>
</div>