.collapse-panel{
    .panel{
        &{
            background: rgba(0,0,0, .5);
            border: 1px solid rgba(0, 0, 0, .7);
            padding: 25px;
        }
        
        *{
            color: white;
        }
        
        .form-control, .transparent{
            background: transparent !important;
            border: 1px solid white;
        }
        
        .collapse-icon{
            right: 0;
            top: 0;
            float: right;
            cursor: pointer;
        }
    }
}