<div class="search-page">
    <div class="panel org-panel hidden-xs hidden-sm o{{organization._id}}" ng-repeat="organization in vm.organizations" ng-class="{'highlight': organization.highlight}">
        <span class="glyphicon glyphicon-remove hidden-md hidden-lg pull-right close-btn" ng-click="vm.hide(organization);"></span>
        <div class="row">
            <div class="col-xs-12">
                <h3 ng-bind="organization.name" class="name" ng-click="vm.navigate(organization);"></h3>
            </div>
            <div class="col-xs-12">
                <h4 ng-bind="organization.address"></h4>
            </div>
        </div>
        <div panel-collapse>
            <hr>
            <div class="service row" ng-repeat="service in organization.services">
                <div class="col-xs-5"><span ng-bind="service.name"></span></div>
                <div class="col-xs-3"><span ng-bind="service.price"></span> грн</div>
                <div class="col-xs-4"><button type="button" ng-click="vm.book(service);" class="btn btn-default transparent">Записаться</button></div>
            </div>
        </div>
    </div>
</div>