<div class="search-page">
    <div class="panel org-panel hidden-xs hidden-sm o{{organization._id}}" ng-repeat="organization in vm.organizations" ng-class="{'highlight': organization.highlight}">
        <span class="glyphicon glyphicon-remove hidden-md hidden-lg pull-right close-btn" ng-click="vm.hide(organization);"></span>
        <div class="row">
            <div class="col-xs-12">
                <h3 ng-bind="organization.name" class="name" ng-click="vm.navigate(organization);"></h3>
            </div>
            <div class="col-xs-12">
                <h4 ng-bind="organization.address"></h4>
            </div>
        </div>
        <div panel-collapse>
            <hr>
            <div class="service" ng-repeat="service in organization.services">
                <div class="row">
                    <div class="col-xs-5"><span ng-bind="service.name"></span></div>
                    <div class="col-xs-3"><span ng-bind="service.price"></span> грн</div>
                    <div class="col-xs-4">
                        <button type="button" ng-click="service.booking = !service.booking" class="btn btn-default transparent pull-right">Записаться</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div ng-if="service.booking" class="booking-form">
                    <form ng-submit="vm.sendRequest();" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" ng-value="vm.selectedDateTime" readonly uib-popover-template="'datePopup.html'" popover-placement="bottom-left"
                                    popover-trigger="outsideClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7">
                                <input type="email" class="form-control" placeholder="Контактный email" required>
                            </div>
                            <div class="col-xs-5">
                                <button class="btn btn-default transparent pull-right" type="submit">Отправить запрос</button>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="datePopup.html">
    <div class="row">
            <div class="col-xs-6">
                <div ng-bind="vm.selectedDateTime" class="selected-date-time"></div>
            </div>
            <div class="col-xs-6">
                <div class="pull-right time-picker">
                    <uib-timepicker ng-model="vm.selectedTime" ng-change="vm.changeSelectedDateTime()"></uib-timepicker>
                </div>
                <div class="clearfix"></div>
            </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <uib-datepicker ng-model="vm.selectedDate" ng-change="vm.changeSelectedDateTime()" class="well well-sm"></uib-datepicker>
        </div>
    </div>
</script>