.date-time-picker{
    .selected-date-time{
        margin-top: 41px;
        margin-left: 20px;
    }

    .time-picker{
        padding-right: 9px;
    }

    .uib-timepicker{
        .am-pm button{
            background: transparent;
        }
    }
}