html,
body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

textarea{
    resize: vertical;
}

.validation-error{
    color: pink !important;
}

.uib-datepicker{
    border: none;
    .uib-daypicker, .uib-monthpicker, .uib-yearpicker{
        outline: none !important;
        width: 100%;
        td button.active{
            background-color: rgba(255, 255, 255, .3);
        }
    }
    &, button{
        background: transparent;
    }
}

.uib-datepicker-popup{
    background: transparent;
    border: none;
    table{
        background-color: black;
    }
}

.popover{
    background: transparent;
    .popover-inner{
        background-color: black;
        width: 400px;
        border: 1px solid white;
    }
}