<div class="my-service-panel">
    <collapse-panel collapsed="false">
        <form ng-submit="vm.registerService();">
            <div class="form-group-lg control-group">
                <label for="location">Введите Ваш адрес или перетащите точку на карте</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="location" placeholder="Введите Ваш адрес" ng-model="vm.address" ng-change="vm.addressChanged()"
                        ng-model-options='{ debounce: 400 }' required>
                    <span class="input-group-btn">
                        <button class="btn btn-lg transparent" type="button" ng-click="vm.requestLocation();"><span class="glyphicon glyphicon-screenshot"></span></button>
                    </span>
                </div>
            </div>

            <div panel-collapse>
                <div class="form-group-lg control-group">
                    <label for="name">Укажите наименование Вашего сервиса</label>
                    <input type="text" class="form-control" id="name" placeholder="Например, Салон красоты 'Афродита'" focus-on="name" ng-model="vm.name" required>
                </div>

                <hr>

                <div class="form-group-lg">
                    <label>Укажите наименование и стоимость Ваших услуг</label>

                    <div class="row services-control-group" ng-repeat="service in vm.services">
                        <div class="col-xs-7">
                            <input type="text" class="form-control" placeholder="Например, маникюр" ng-model="service.name" ng-change="vm.serviceChange(service)"
                                focus-on="{{$index}}">
                        </div>
                        <div class="col-xs-5">
                            <div class="input-group">
                                <input type="text" class="form-control" value="100" ui-number-mask="0" ng-model="service.price" ng-change="vm.serviceChange(service)">
                                <div class="transparent input-group-addon">грн</div>
                            </div>
                        </div>
                    </div>

                </div>

                <hr>

                <div ng-if="!vm.edit">
                    <div class="form-group-lg control-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" ng-model="vm.email" required>
                        <small class="validation-error" ng-if="vm.emailRegistered">Такой email уже зарегистрирован в системе</small>
                    </div>
                    <div class="form-group-lg control-group">
                        <label for="password">Пароль для учетной записи</label>
                        <input type="password" class="form-control" id="password" ng-model="vm.password" required>
                    </div>

                    <hr>
                </div>

                <div class="form-group-lg">
                    <button type="submit" class="btn btn-default btn-lg transparent pull-right">{{vm.edit ? 'Обновить' : 'Зарегистрировать'}}</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </collapse-panel>
</div>