.home-page{
    #map_canvas {
        position: fixed;
        height: 100%;
        width: 100%;
    }
    
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .scroll-container{
        &{
            position: absolute;
            height: 100%;
            padding: 100px;
        }
        
        .panel{
            &{
                width: 500px;
                background: rgba(0,0,0, .5);
                border: 1px solid rgba(0, 0, 0, .7);
                padding: 25px;
            }
            
            *{
                color: white;
            }
            
            .form-control, .transparent{
                background: transparent !important;
                border: 1px solid white;
            }
        }
    }
}