<div class="home-page">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/app/#/"><span class="cursive">Moreongo</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left search-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg input-transparent" placeholder="Город" ng-model="vm.city" ng-model-options='{ debounce: 400 }'
                            ng-change="vm.changeCity();">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg input-transparent" placeholder="Услуга">
                    </div>
                </form>
                <div ng-if="!vm.isAuthenticated">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <a ui-sref="home.registerService" class="btn btn-lg btn-danger full-width-sm">Добавить мой сервис</a>
                        </div>
                    </form>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <a ui-sref="home.login" class="btn btn-lg btn-default full-width-sm">Войти</a>
                        </div>
                    </form>
                </div>
                <div ng-if="vm.isAuthenticated && vm.organizationName">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <a ui-sref="home.myService" class="btn btn-lg btn-danger full-width-sm" ng-bind="vm.organizationName"></a>
                        </div>
                    </form>
                    <form class="navbar-form navbar-right" ng-submit="vm.logout()">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-default full-width-sm">Выйти</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <div id="map_canvas">
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.options">
            <div ui-view="map"></div>
        </ui-gmap-google-map>
    </div>

    <div>
        <div class="left-panel-xs visible-sm-block visible-xs-block" ng-class="{collapsed: vm.state.hidden}">
            <div>
                <div ui-view='scroll'></div>
            </div>
        </div>

        <div class="left-panel visible-md-block visible-lg-block" ng-class="{collapsed: vm.state.hidden}">
            <div>
                <div ui-view='scroll'></div>
            </div>
        </div>

    </div>
</div>