<div class="home-page">
    <div id="map_canvas">
        <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.options">
            <ui-gmap-circle ng-if="vm.circleCenter" center="vm.circleCenter" stroke="vm.circle.stroke" fill="vm.circle.fill" radius="vm.circle.radius"
                draggable="true" clickable="true" events="vm.circle.events">
            </ui-gmap-circle>
        </ui-gmap-google-map>
    </div>

    <div>
        <div class="right-panel-xs visible-sm-block visible-xs-block">
            <div ui-view='rightPanel'></div>
        </div>
        <div class="right-panel visible-md-block visible-lg-block">
            <div ui-view='rightPanel'></div>
        </div>

    </div>

    <div>
        <div class="left-panel-xs visible-sm-block visible-xs-block" ng-class="{collapsed: vm.hidden}">
            <div class="panel">
                <div ng-hide="!vm.hidden" ng-click="vm.hidden = false;">
                    <i class="glyphicon glyphicon-menu-right collapse-icon"></i>
                    <i class="glyphicon glyphicon-menu-right collapse-icon"></i>
                    <div class="clearfix"></div>
                </div>
                <div ng-hide="vm.hidden" ng-click="vm.hidden = true;">
                    <i class="glyphicon glyphicon-menu-left collapse-icon"></i>
                    <i class="glyphicon glyphicon-menu-left collapse-icon"></i>
                    <div class="clearfix"></div>
                </div>
                <div ng-hide="vm.hidden">
                    <div ui-view='scroll'></div>
                </div>
            </div>

        </div>

        <div class="left-panel visible-md-block visible-lg-block" ng-class="{collapsed: vm.hidden}">
            <div class="panel">
                <div ng-hide="!vm.hidden" ng-click="vm.hidden = false;">
                    <i class="glyphicon glyphicon-menu-right collapse-icon"></i>
                    <i class="glyphicon glyphicon-menu-right collapse-icon"></i>
                    <div class="clearfix"></div>
                </div>
                <div ng-hide="vm.hidden" ng-click="vm.hidden = true;">
                    <i class="glyphicon glyphicon-menu-left collapse-icon"></i>
                    <i class="glyphicon glyphicon-menu-left collapse-icon"></i>
                    <div class="clearfix"></div>
                </div>
                <div ng-hide="vm.hidden">
                    <div ui-view='scroll'></div>
                </div>
            </div>
        </div>

    </div>
</div>